@use "../../service/style/config" as config;

.todo {
    background: config.$c-dark;
    width: 200px;
    padding: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid config.$c-light;
    border-radius: 20px;
    margin: 10px;
}
input {
    margin: 10px;
}