* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background: #cecece;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
select {
    transform: translate(-50%, 0);
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 20px;
}
.container {
    padding: 20px;
    height: 20vh; /* 70vh */
    width: 10vw; /* 60vw */
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.loader {
    width: 100px;
    padding: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: grey;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}