@use '../../service/style/config' as config;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid config.$c-light;
}

.logo {
    img {
        width: 70px;
        height: 60px;
    }
    a {
        text-decoration: none;
        display: flex;
        color: inherit;
    }
}

.navigation {
    flex: 1;
}