.header {
    background: #b6b6b6;
    border: 1px solid black;
    border-top: none;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}