.container-emojy {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-emojy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.button-emojy {
    font-size: 45px;
    cursor: pointer;
    background: transparent;
    border: none;
    transition: all .2s;
}
.buttion-emojy:hover {
    scale: 1.1;
}
.emojy {
    text-align: center;
    font-size: 45px;
}